
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to GOal Together <%= @user.first_name %></h1>
    <p>
      GOal Together is the new and exciting tool to help you achieve your goals, stick to your commitments, and connect with your friends.
    <br>
    <br>
      <%= @inviting_user.first_name %> has invited you to join <%= @commitment.name %>, on GOal Together.
    <br>
    <br>
      To join the commitment with <%= @inviting_user.first_name %>, you can create your account by registering using the provided email address: <%= @user.email %>.
    <br>
    <br>
      To login to the site, just follow this link: <%= @url %>.
    <br>
    <br>
      Thanks for joining and have a great day! Remember, if you want to go fast, go alone. If you want to go far, GOal Together.
    </p>
  </body>
</html>